<form [formGroup]="oppService.form">
  <div class="header">
    <h1 mat-dialog-title>{{title}}</h1>
    <button class="btn" mat-button mat-dialog-close (click)="onClose()">Close</button>
  </div>
  <div mat-dialog-content>
    <div>
      <input type="hidden" formControlName="id">
    </div>
    <div>
      <mat-form-field class="input-div" appearance="fill">
        <mat-label>Joining Date</mat-label>
        <input [min]="getToday()" formControlName="date"  type="date" matInput placeholder="">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-div" appearance="fill">
        <mat-label>Year of Experience</mat-label>
        <input formControlName="minExp" type="number" min="0" matInput placeholder="">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-div" appearance="fill">
        <mat-label>required candidates</mat-label>
        <input formControlName="demand" type="number" min="0" matInput placeholder="">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-div" appearance="fill">
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput placeholder="Frontend or Backend Engineer">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-div" appearance="fill">
        <mat-label>Location</mat-label>
        <input formControlName="location" matInput placeholder="Mumbai,Hyderabad,Bangalore..">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-div" appearance="fill">
        <mat-label>Client</mat-label>
        <input formControlName="client" matInput placeholder="Morgan Stanley,Prudential..">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-div" appearance="fill">
        <mat-label>Skills</mat-label>
        <input formControlName="skill" matInput placeholder="Angular,Kubernetes,Microservices...">
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button mat-dialog-close (click)="onClear()">Clear</button>
      <button mat-raised-button color="primary" (click)="onSubmit()" type="submit"
        [disabled]="oppService.form.invalid">Save</button>
    </div>
  </div>
</form>