<app-home></app-home>

<ngx-charts-bar-vertical [results]="description" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType"
    [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel" xAxisLabel="Role Description" yAxisLabel="count" legendTitle="Role Description"
    [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines"
    [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks" [rotateXAxisTicks]="rotateXAxisTicks"
    [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength"
    [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" 
    [showDataLabel]="showDataLabel" [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled"
    [roundEdges]="roundEdges">
</ngx-charts-bar-vertical>

<ngx-charts-bar-vertical [results]="skill" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType"
    [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel" xAxisLabel="Skills" yAxisLabel="count" legendTitle="Skills"
    [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines"
    [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks" [rotateXAxisTicks]="rotateXAxisTicks"
    [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength"
    [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" 
    [showDataLabel]="showDataLabel" [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled"
    [roundEdges]="roundEdges">
</ngx-charts-bar-vertical>

<ngx-charts-bar-vertical [results]="location" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType"
    [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel" xAxisLabel="Location" yAxisLabel="count" legendTitle="Location"
    [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines"
    [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks" [rotateXAxisTicks]="rotateXAxisTicks"
    [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength"
    [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" 
    [showDataLabel]="showDataLabel" [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled"
    [roundEdges]="roundEdges">
</ngx-charts-bar-vertical>
<ngx-charts-bar-vertical [results]="client" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType"
    [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel" xAxisLabel="Client" yAxisLabel="count" legendTitle="Client"
    [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines"
    [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks" [rotateXAxisTicks]="rotateXAxisTicks"
    [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength"
    [xAxisTickFormatting]="formatString" [yAxisTickFormatting]="formatNumber" 
    [showDataLabel]="showDataLabel" [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled"
    [roundEdges]="roundEdges">
</ngx-charts-bar-vertical>